<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

		<th:block layout:fragment="customTitle">
			<title>TODAY MEMO</title>
		</th:block>
		
		<th:block layout:fragment="Contents">
		<div style="margin-left:50px;margin-bottom:10px;">
			<span id="day" style="font-size:30px; color:black;" ></span>
			<span th:text="${categoryName}"></span>
		</div>
		
		<!-- 단어 추가  -->
		<th:block layout:fragment="addLanguage">
			<div th:replace="fragments/addLanguage :: addLanguage"></div>
		</th:block>
			
		<table class="table table-hover" style="margin: 10px;"> 
			<thead style="text-align:center;">
				<tr id="theadTr">
					<th>요일</th>
					<th>단어/문장</th>
					<th>뜻</th>
					<th>메모</th>
					<th style="display:none;" id="modifyThead" >수정</th>
					<th style="display:none;">삭제</th>
				</tr>
			</thead>	
			<tbody id="languageBody" style="text-align: left;">
			<tr th:if="${#lists.size(word)}>0" th:each="word:${word}" class="tbodyTr">
				<td th:text ="${word.langIdx}" style="display:none;" class="langIdx"></td>
				<td th:text ="${word.langRegDate}"></td>
				<td th:text ="${word.langWord}" class="word"></td>
				<td th:text ="${word.langMeaning}" class="meaning"></td>
				<td th:text ="${word.langEtc}" class="memo"></td>
				<td style="display:none;"><a class="modifyBtn" data-attr="0"><i class="glyphicon glyphicon-erase" ></i></a></td>
				<td style="display:none;"><a class="deleteBtn"><i class="glyphicon glyphicon-trash"></i></a></td>
			</tr>
			<tr th:unless="${#lists.size(word)}>0">
				<td colspan="6" style="text-align: center;">단어를 입력해주세요.</td>
			</tr>
			</tbody>
		</table>
		
		<div style="text-align:right;">
			<button type="button" class="btn btn-xm" id="modifyBtn" data-attr="0">수정</button>
			<button type="button" class="btn btn-xm" id="deleteBtn" data-attr="0">삭제</button>
		</div>
			
		</th:block>
		<th:block layout:fragment="customScript">
			<script>
			//수정버튼 클릭시
				$('#modifyBtn').click(function(){
					console.log("나와라");
					console.log($(this).attr('data-attr'));
					if($(this).attr('data-attr')=='0'){
						console.log("흠")
						$('.modifyBtn').parent().css('display','');
						$('#modifyThead').css('display','');
						$(this).text('수정완료');
						$(this).attr('data-attr',1);
					}else{
						$('.modifyBtn').parent().css('display','none');
						$('#modifyThead').css('display','none');
						$(this).text('수정');
						$(this).attr('data-attr',0);
					}
				});
				
			//삭제버튼 클릭시
				$(document).on('click', '#deleteBtn',function(){
					if($('#deleteBtn').attr('data-attr')==0){
						$('#theadTr').prepend('<th><input type="checkbox" name="checkboxTable" style="margin-right:5px;" id="allCheck"></th>');
						$('.tbodyTr').each(function(){
							console.log($('.tbodyTr').index(this));
							var i = $('.tbodyTr').index(this);
							$('.tbodyTr').eq(i).prepend('<td><input type="checkbox" name="checkboxTable" class="checkboxTable" style="margin-right:5px;" value="'+$('.langIdx').eq(i).text()+'"></td>');
							console.log("체크박스");
						})
						//전체체크
							$('#allCheck').click(function(){
								if($('#allCheck').prop('checked')){
			  					  $('.checkboxTable').prop('checked',true)  
								}else{
								    $('.checkboxTable').prop('checked',false);
								}
							});////전체체크끝
						$('#deleteBtn').attr('data-attr',1);
						$('#deleteBtn').text('삭제완료');
					}else{
						$('#deleteBtn').text('삭제');
						var checkArray = [];
						$('input:checkbox[name="checkboxTable"]:checked').each(function(){
							var i = $('input:checkbox[name="checkboxTable"]:checked').index(this);
							checkArray.push($('input:checkbox[name="checkboxTable"]:checked').eq(i).val())
							console.log(checkArray);
						})
					
						if(checkArray!=''){	//선택 된 단어가 있을 경우 삭제
							
							if (confirm("정말 삭제하시겠습니까??") == true){    //확인
				    			$.ajax({
									url : '/ajax/deleteLanguage',
									type : 'post',
									data : {checkArray : checkArray},
									success : function(data){
										$('input:checkbox[name="checkboxTable"]:checked').parent().parent().remove();
										$('input:checkbox[name="checkboxTable"]').remove();
									}
								});  //ajax 끝
		    					 
		 					}else{   //취소
		 						$('input:checkbox[name="deleteCheckBox"]').remove();
		   				 		return false;
							}
						}else{ //선택 된 단어가 없을 경우
							alert('삭제 할 단어를 선택해주세요.');
							return false;
						}
						$('#deleteBtn').attr('data-attr',0);	
					}
				});
				
				
			</script>
			<script th:inline="javascript">
				var categoryIdx = /*[[${categoryIdx}]]*/
				//단어추가 시작
				$('#addLanguageBtn').click(function(){
					$.ajax({
						url :'/ajax/addLanguage',
						type : 'post',
						data : {word : $('input[name=langWord]').val(),
								meaning : $('input[name=langMeaning]').val(), 
								memo : $('input[name=langEtc]').val(),
								categoryIdx : categoryIdx},
						success : function(data){
							console.log(data);
							location.reload();
						}
					});
				});
				//단어추가 끝
				//해당 날짜 클릭 시 이벤트 시작
				$(document).on('click','#calendar div',function(){
					var day = $(this).attr('data-day');
					$('#day').text('');
					$('#day').text(day+'일');
					
				 	var date = $(this).attr('data-date');
				 	console.log(date);
			
					$.ajax({
						url : "/ajax/pickDate",
						type : "post",
						data : {pickDate : date , categoryIdx : categoryIdx},
						success : function(data){
							if(data!=""){
								$('#languageBody').children().remove();
								for(var i = 0 ; i<data.length;i++){
									var tr = '<tr class="tbodyTr">';
										tr +='<td style="display:none" class="langIdx">'+data[i].langIdx+'</td>';
										tr +='<td>'+data[i].langRegDate+'</td>';
										tr +='<td class="word">'+data[i].langWord+'</td>'
										tr +='<td class="meaning">'+data[i].langMeaning+'</td>'
										tr +='<td class="memo">'+data[i].langEtc+'</td>'
										tr +='<td style="display:none;"><a class="modifyBtn" data-attr = "0"><i class="glyphicon glyphicon-erase" ></a></i></td>'
										tr +='<td style="display:none;"><a class="deleteBtn"><i class="glyphicon glyphicon-trash"></i></a></td>'
										tr +='</tr>';
									$('#languageBody').append(tr);
								}
							}else{
								$('#languageBody').children().remove();
								var tr = '<tr><td colspan="6" style="text-align:center;">단어를 입력해주세요.</td></tr>'
								$('#languageBody').append(tr);
						}
					}
						
					});//ajax 끝
				})
				</script>
				<script>
				//단어수정
				$(document).on('click','.modifyBtn',function(){
					
					console.log($('.modifyBtn').index(this));
						var i = $('.modifyBtn').index(this);
						var word = $('.word');
						var meaning = $('.meaning');
						var memo = $('.memo');
						var idx = $('.langIdx');
				         //data-attr이 0이면 1로 바꿔준다.
				         
				         console.log(word.val());
				         console.log(meaning.val());
				         console.log(memo.val());
				         console.log(idx.val());
				         
						if($('.modifyBtn').eq(i).attr('data-attr')==0){
							$('.modifyBtn').eq(i).attr('data-attr','1');
							//html()을 사용해서, input 박스로 바꿔주고 value 값은 text()를 통해서 가져옴
							word.eq(i).html('<div class="word" contenteditable="true" style="text-decoration:underline;">'+word.eq(i).text()+'</div>');
							meaning.eq(i).html('<div class="meaning" contenteditable="true" style="text-decoration:underline;">'+meaning.eq(i).text()+'</div>');
							memo.eq(i).html('<div class="memo" contenteditable="true" style="text-decoration:underline;">'+memo.eq(i).text()+'</div>');
							//word.eq(i).html('<input type="text" style="border:none;"value="'+word.eq(i).text()+'" class="word">');
							//meaning.eq(i).html('<input type="text" value="'+meaning.eq(i).text()+'" class="meaning">');
							//memo.eq(i).html('<input type="text" value="'+memo.eq(i).text()+'" class="memo">');
						}else{		
							//수정가능한 상태 data-attr = 1 이면 실행
							//
							$('.modifyBtn').eq(i).attr('data-attr','0');
							var modifyWord = $('#languageBody tr div').eq(0).text();
							var modifyMeaning = $('#languageBody tr div').eq(1).text();
							var modifyMemo = $('#languageBody tr div').eq(2).text();
						
							console.log(modifyWord+"<---수정");
							word.eq(i).text(modifyWord);
							meaning.eq(i).text(modifyMeaning);
							memo.eq(i).text(modifyMemo);
					       //ajax 비동기 통신
							 $.ajax({
				                //컨트롤러로 이동
								url : '/ajax/modifyLanguage',
								method :'post',
								data : {modifyWord:modifyWord, modifyMeaning:modifyMeaning, modifyMemo:modifyMemo, langIdx:idx.eq(i).text()},
								success : function(data){
									console.log("성공");
								}
							})//통신끝
						}	
					}) ;
				//단어 삭제 시작
				
				$(document).on('click','.deleteBtn',function(){
					console.log($('.deleteBtn').index(this));
					var i = $('.deleteBtn').index(this);
					console.log($('.langIdx').eq(i).text()+"<---?");
					var idx = $('.langIdx').eq(i).text();
					
					$.ajax({
						url:'/ajax/deleteLanguage',
						method :'post',
						data : {langIdx:idx},
						success : function(data){
							console.log($('.deleteBtn').eq(i).parent().parent())
							$('.deleteBtn').eq(i).parent().parent().remove();
						}
					})
					
				});
				
				
					
				/*ajax javascript
					var xhttp;
					if(window.XMLHttpRequest){
					    xhttp = new XMLHttpRequest();
					}else{
					    // IE5, IE6 일때
					    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
					}
					console.log(xhttp)
					//get 방식 요청
					xhttp.open('get', '/ajax/deleteLanguage?langIdx='+idx, true);
					xhttp.onreadystatechange = function(){
						if(xhttp.readyStat == 4 && xhttp.status ==200){
							//통신 성공 시 구현
							location.reload();
							console.log("성공");
						}
					}
					xhttp.send()
					
				*/
				

				</script>
		
		
		</th:block>
</html>