<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
 <!--header start-->
    <header class="header black-bg" th:fragment="headerFragments">
    	<div class="sidebar-toggle-box">
    		<div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      	</div>
	    <a th:href="@{/}" class="logo"><b>TODAYMEMO</b></a>
      	<th:block th:if="${session.SID==null}">  
			<a th:href="@{/member/signUp}" style="display: right!important;">가입하기</a>
			<a th:href="@{/member/login}" style="display: right!important;" >로그인</a>
		</th:block>
    </header>
</html>