<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
 <!--header start-->
    <header class="header black-bg" th:fragment="headerFragments">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a th:href="@{/}" class="logo"><b>TODAY<span>MEMO</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
  		<div style="text-align:left; display:inline;">
         <a th:href="@{/board}">게시판</a>
         <a th:href="@{/}">QnA</a>
  		</div>
  		
  		<div style="text-align:right; display:inline;" >
          <th:block th:if="${session.SID!=null}">
			<div>[[${session.SNAME}]] 님 로그인 중입니다.</div>
			<form th:action="@{/member/logout}" method="post" >
				<button type="submit">로그아웃</button>
			</form>
         </th:block>
		  	<a th:if="${session.SID==null}" th:href="@{/member/signUp}">가입하기</a>
			<a th:if="${session.SID==null}" th:href="@{/member/login}">로그인</a>
  		</div>
		
      
        
        <!--  notification end -->
      </div>
    </header>
    <!--header end-->
</html>