<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
	 <!--sidebar start-->
<div th:fragment="leftmenuFragment">
    <aside>
    	<div id="sidebar" class="nav-collapse ">
	    	<div style="margin-top:100px; margin-left:50px; ">
	    		<table id ="calendar">
					<tr>
						<td align = "center" valign="middle"><label onclick="preMonth()" id="pre">&lt;</label></td>
						<td colspan="5" id = "writeYM" align = "center" valign="middle">yyyy년 m월</td>
						<td align = "center" valign="middle"><label onclick = "nextMonth()" id="next">&gt;</label></td>
					</tr>
					<tr>
						<td align = "center" valign = "middle">일</td>
						<td align = "center" valign = "middle">월</td>
						<td align = "center" valign = "middle">화</td>
						<td align = "center" valign = "middle">수</td>
						<td align = "center" valign = "middle">목</td>
						<td align = "center" valign = "middle">금</td>
						<td align = "center" valign = "middle">토</td>
					</tr>
				</table>
	    	</div>
		
        	 <ul class="sidebar-menu" id="nav-accordion">
         		<th:block th:if="${session.SID!=null}" th:each="menu:${session.SMENU}">
         	 		<li><a class="categoryId" th:href="@{${menu.menuUrl}(idx=${menu.menuIdx})}" data-idx="${menu.menuIdx}">[[${menu.menuName}]]</a></li>
         		</th:block>
         	</ul>
         	<button id="addBtn">+</button>
 	    </div>
    </aside>
 </div>
   
</html>